<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<title>Web Remote</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="viewport" content="user-scalable=false">

		<link rel="stylesheet" type="text/css" href="/static/themes/dark/theme.css">

		<script src="/static/libs/jquery-1.9.1.js" type="text/javascript"></script>
		<script src="/static/libs/angular.min.js" type="text/javascript"></script>
		<script src="/static/js/base.js" type="text/javascript"></script>
	</head>
	<body>
		<div ng-view></div>

		<script type="text/ng-template" id="applicationlist.html">
			<ul id="applicationList">
				<li ng-repeat="application in applications">
					<a href="#/{{application.name}}/">
						{{application.Identity}}
					</a>
				</li>
			</ul>
		</script>

		<script type="text/ng-template" id="player.html">
			<div id="header">
				<h1>{{application.Identity}}</h1>
			</div>

			<div id="player">
				<div id="art">
					<img ng-src="{{player.Metadata['mpris:artUrl']}}">
				</div>

				<div id="track">
					<dl>
						<dt>Title</dt>
						<dd id="track-title">
							{{player.Metadata['xesam:title']}}</dd>
						<dt>Artist</dt>
						<dd id="track-artist" ng-repeat="artist in player.Metadata['xesam:artist']">
							{{artist}}
						</dd>
						<dt>Album</dt>
						<dd id="track-album">
							{{player.Metadata['xesam:album']}}
						</dd>
					</dl>
				</div>

				<div id="controls" >
					{{ tapping }}
					<div id="options">
						<div id="shuffle" ng-class="{on: player.Shuffle}" tap="clickedShuffle()">
							<span class="icon"></span>
							<label for="shufflestatus">Shuffle</label>
							<input id="shufflestatus" name="shuffle" type="checkbox" ng-model="player.Shuffle">
						</div>

						<div id="loop" class="{{player.LoopStatus | lowercase}}" tap="clickedLoop()">
							<span class="icon"></span>
							<label for="loopstatus">Loop</label>
							<select id="loopstatus" name="loopstatus" ng-model="player.LoopStatus">
								<option value="None">None</option>
								<option value="Playlist">Playlist</option>
								<option value="Track">Track</option>
							</select>
						</div>
					</div>

					<div id="progress-bar">
						<div class="ui-slider"
						     ng-click="setPosition($event)">
							<div class="ui-slider-range"
							     ng-style="{width: relativePosition}">
							</div>
						</div>
					</div>

					<div id="playback">
						<button id="previous" tap="callMethod('Previous')">
							<span class="ui-button-text">Previous</span>
						</button>
						<button id="play" ng-class="{on: player.PlaybackStatus == 'Playing'}" tap="callMethod('PlayPause')">
							<span class="ui-button-text">Play</span>
						</button>
						<button id="next" tap="callMethod('Next')">
							<span class="ui-button-text">Next</span>
						</button>
					</div>
				</div>
			</div>
		</script>


		<script type="text/javascript">
			var myApp = angular.module('myApp', [])
				.config(['$routeProvider', function($routeProvider) {
					$routeProvider
						.when('/:appName/player/', {
							templateUrl: 'player.html',
							controller: PlayerCtrl
						})
						.when('/:appName/', {
							redirectTo: '/:appName/player/'
						})
						.otherwise({
							templateUrl: 'applicationlist.html',
							controller: ApplicationListCtrl
						});
				}]);

			/*
				Controllers
			*/
			function ApplicationListCtrl($scope, $http, $timeout) {
				$http.get('/').success(function(data) {
					$scope.applications = data;
				});
			}

			function PlayerCtrl($scope, $routeParams, $http, $timeout) {
				var poller = null;
				var relativePosition = 0;

				$scope.$on('$destroy', function() {
					$timeout.cancel(poller);
				});

				$http.get('/' + $routeParams.appName + '/').success(function(appData) {
					$scope.application = appData;

					(function tick() {
						$http.get($scope.application.player.url).success(function(playerData) {
							$scope.player = playerData;
							$scope.relativePosition = Math.round($scope.player.Position * 100) + '%';
							poller = $timeout(tick, 1000);
						});
					})();
				});

				$scope.callMethod = function(method, params) {
					$http.post(
						$scope.player.url + method,
						(params !== undefined) ? params : {}
					);
				}

				$scope.setProperty = function(data) {
					$http.post(
						$scope.player.url,
						data
					);
				}

				$scope.clickedShuffle = function() {
					$scope.player.Shuffle = !$scope.player.Shuffle;
					$scope.setProperty({'Shuffle': $scope.player.Shuffle});
				}

				$scope.clickedLoop = function() {
					var l = $('#loopstatus');
					var index = l[0].selectedIndex + 1;
					if (index >= l[0].children.length) {
						index = 0;
					}
					l[0].children[index].selected = true;

					$scope.setProperty({'LoopStatus': l[0].children[index].value});
				}

				$scope.setPosition = function(e) {
					var position = (e.pageX / e.currentTarget.clientWidth) * $scope.player.Metadata['mpris:length'];
					var trackid = $scope.player.Metadata['mpris:trackid'];
					$scope.callMethod(
						'SetPosition',
						{
							'trackid': trackid,
							'position': position
						}
					);
				}
			}

			myApp.directive('tap', function() {
				return function(scope, element, attrs) {
					var touch = false;
					var tapping = false;

					element.bind('touchstart', function(e) {
						touch = true;
						tapping = true;
					});

					element.bind('touchmove', function(e) {
						tapping = false;
					});

					element.bind('touchend', function(e) {
						if (tapping) {
							scope.$apply(attrs['tap']);
						}
					});

					element.bind('click', function(e) {
						if (!touch) {
							scope.$apply(attrs['tap']);
						}
					});
				}
			})
		</script>
	</body>
</html>
