body {
	background-image: -webkit-gradient(radial, center top, 0, center top, 515, color-stop(0, #484848), color-stop(1, #000000));
	background-image: -moz-radial-gradient(center top, circle farthest-corner, #484848 0%, #000000 100%);

	color: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	font-family: "Helvetica";
	margin: 0;
	padding: 0;
	width: 320px;
	height: 417px;
	position: relative;
}
body.landscape {
	width: 480px;
	height: 268px;
}

#header {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d7e866), color-stop(1, #8cab2a));
	background-image: -moz-linear-gradient(top, #d7e866 0%, #8cab2a 100%);

	-moz-box-shadow: 1px 1px 4px #000;
	-webkit-box-shadow: 1px 1px 4px #000;
	box-shadow: 1px 1px 4px #000;

	position: relative;
	padding: 0.25em 0;
}
h1 {
	font-size: inherit;
	font-weight: bold;
	text-shadow: rgba(0,0,0,1) 0 -1px 1px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

#applicationList {
	list-style: none;
	margin: 1em 0 0 0;
	padding: 0 8px;

	margin: 8px 4px 0 4px;
	border-radius: 4px;
	border: 1px solid #505050;
	background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#252525));
	background: -moz-linear-gradient(top,  #484848,  #252525);

	-moz-box-shadow: 1px 1px 8px #000;
	-webkit-box-shadow: 1px 1px 8px #000;
	box-shadow: 1px 1px 8px #000;
}
#applicationList li {
	padding: 8px 0 8px;
	border-top: 1px solid #505050;
	border-bottom: 1px solid #202020;
}
#applicationList li:first-child {
	border-top: none;
}
#applicationList li:last-child {
	border-bottom: none;
}
#applicationList a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: 1.5em;
	background: url(images/play.svg) center right no-repeat;
}

#art {
	margin: auto;
}
*.landscape #art {
	position: absolute;
	top: 32px;
	left: 0;
	width: 124px;
	height: 124px;
}
#art img {
	display: block;
	border: 1px solid #505050;
	background: #000 url(images/play.svg) center no-repeat;
	width: 172px;
	height: 172px;
	margin: auto;
	margin-top: 7px;
	-moz-box-shadow: 1px 1px 8px #000;
	-webkit-box-shadow: 1px 1px 8px #000;
	box-shadow: 1px 1px 8px #000;
}
*.landscape #art img {
	width: 116px;
	height: 116px;
	margin: 7px;
}

#track {
	overflow: hidden;
}
*.landscape #track {
	position: absolute;
	top: 40px;
	left: 148px;
	right: 8px;
	height: 116px;
}
.landscape #track dl {
	margin-top: 4px;
}
dt {
	display: none;
}
dd {
	margin-left: 0;
	text-align: center;
}
#track_title {
	text-overflow: ellipsis;
	font-size: 1.3em;
}

#controls {
	/*margin: 8px 4px 0 4px;*/
	/*border-radius: 4px;*/
	/*border: 1px solid #505050;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#252525));
	background: -moz-linear-gradient(top,  #484848,  #252525);
	text-align: center;

	-moz-box-shadow: 1px 1px 8px #000;
	-webkit-box-shadow: 1px 1px 8px #000;
	box-shadow: 1px 1px 8px #000;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
#controls button span {
	display: none;
}
#controls button {
	width: 64px;
	height: 64px;
	color: inherit;
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
}
#controls button:active {
	background-color: red;
}
#previous {
	background-image: url(images/previous.svg);
	background-size: 75% 75%;
}
#play.on {
	background-image: url(images/pause.svg);
}
#play {
	background-image: url(images/play.svg);
	background-size: 100% 100%;
}
#next {
	background-image: url(images/next.svg);
	background-size: 75% 75%;
}


#shuffle,
#loop {
	width: 30px;
	height: 30px;
	margin: 1px 12px 1px 12px;
	border-radius: 8px;
	border: 1px solid transparent;
}
.landscape #shuffle,
.landscape #loop {
	width: 40px;
	height: 40px;
}
#options label,
#options input,
#options select {
	display: none;
}

#shuffle {
	position: absolute;
	top: 36px;
	right: -4px;
}
.landscape #shuffle {
	right: 8px;
}
#shuffle .icon {
	display: block;
	height: 100%;
	background-image: url(images/shuffle.svg);
	background-size: 100% 100%;
}
#shuffle.on {
	border-color: #484848;
	background-color: #000;
}

#loop {
	position: absolute;
	top: 36px;
	left: -4px;
}
.landscape #loop {
	left: 8px;
}
#loop .icon {
	display: block;
	height: 100%;
	background-image: url(images/repeat.svg);
	background-size: 100% 100%;
}
#loop.track,
#loop.playlist {
	border-color: #484848;
	background-color: #000;
}
#loop.track .icon {
	background-image: url(images/repeat-once.svg);
}
#loop.playlist .icon {
	background-image: url(images/repeat.svg);
}




#options {
	border: none;
}
#options label {
	padding: 1em;
	line-height: 2em;
}
#options input,
#options select {
	vertical-align:middle;
}

#options fieldset {
	display: inline;
	border: none;
	border-radius: 8px;
	padding: 0;
	-moz-box-shadow: 1px 1px 8px #000;
	-webkit-box-shadow: 1px 1px 8px #000;
	box-shadow: 1px 1px 8px #000;
}

#options fieldset span {
	border: 1px solid #505050;
	background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#252525));
	background: -moz-linear-gradient(top,  #484848,  #252525);
}
#options fieldset span:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	margin-right: -4px;
}
#options fieldset span:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-left: -4px;
}

.ui-slider {
	margin: 8px;
	border-radius: 8px;
	border: 2px solid #252525; /*505050;*/
	height: 10px;
	overflow: hidden;
	background-color: #000;
}
.ui-slider-range {
	border-radius: 8px;
	width: 0%;
	height: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d7e866), color-stop(1, #8cab2a));
	background-image: -moz-linear-gradient(top, #d7e866 0%, #8cab2a 100%);
}
