<div class="page" id="player">
	<div class="head">
		<button class="btn btnBack"
		        ng-click="buttonApplicationList()">
			<i class="fa fa-chevron-left"></i>
			<span>Applications</span>
		</button>

		<h1>{{ app.Identity }}</h1>

		<button class="btn btnSettings"
		        ng-click="buttonSettings()">
			<i class="fa fa-cog"></i>
			<span>Settings</span>
		</button>
	</div>

	<div class="body">
		<div class="metadata">
			<div class="art">
				<img ng-src="{{ app.player.Metadata['xesam:artUrl'] }}"/>
			</div>

			<div class="artist">
				<span ng-repeat="artist in app.player.Metadata['xesam:artist']">
					{{ artist }}
				</span>
			</div>

			<div class="album">
				{{ app.player.Metadata['xesam:album'] }}
			</div>

			<div class="title">
				{{ app.player.Metadata['xesam:title'] }}
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="progress-panel">
			<div class="progress-text">
				{{ positionAsText() }}
			</div>

			<div class="progress-length">
				{{ trackLength() }}
			</div>

			<div class="progress">
				<div class="bar" ng-style="{ width: positionAsPercentage() + '%' }"></div>
			</div>
		</div>

		<div class="btn-toolbar control-panel">
			<button class="btn btnTracklist"
			        ng-click="buttonTracklist()">
				<i class="fa fa-list"></i>
				<span>Tracklist</span>
			</button>

			<div class="btn-group">
				<button class="btn btnPrev"
				        ng-show="app.player.CanGoPrevious"
				        ng-click="buttonPrevious()">
					<i class="fa fa-fast-backward"></i>
					<span>Previous</span>
				</button>
				<button class="btn btnPlay"
				        ng-click="buttonPlay()"
				        ng-show="app.player.CanPlay && app.player.PlaybackStatus != 'Playing'">
					<i class="fa fa-play"></i>
					<span>Play</span>
				</button>
				<button class="btn btnPause"
				        ng-click="buttonPause()"
				        ng-show="app.player.CanPause && app.player.PlaybackStatus == 'Playing'">
					<i class="fa fa-pause"></i>
					<span>Pause</span>
				</button>
				<button class="btn btnNext"
				        ng-show="app.player.CanGoNext"
				        ng-click="buttonNext()">
					<i class="fa fa-fast-forward"></i>
					<span>Next</span>
				</button>
			</div>

			<button class="btn btnPlaylists"
			        ng-click="buttonPlaylists()">
				<i class="fa fa-list-alt"></i>
				<span>Playlists</span>
			</button>
		</div>

		<div class="volume-panel">
			<button class="btn btnVolumeDown"
			        ng-click="buttonVolumeDown()">
				<i class="fa fa-volume-down"></i>
				<span>Decrease</span>
			</button>

			<div class="volume">
				<div class="bar" ng-style="{ width: (volume * 100) + '%'}"></div>
			</div>

			<button class="btn btnVolumeUp"
			        ng-click="buttonVolumeUp()">
				<i class="fa fa-volume-up"></i>
				<span>Increase</span>
			</button>
		</div>
	</div>
</div>

<div class="page" id="settings">
	<div class="head">
		<button class="btn btnBack"
		        ng-click="buttonBack()">
			<i class="fa fa-chevron-left"></i>
			<span>Player</span>
		</button>
		<h1>Settings</h1>
	</div>

	<div class="body">
		<div class="control-group">
			<label class="control-label" for="shuffleToggle">
				Shuffle
			</label>

			<div class="controls">
				<input type="checkbox"
				       id="shuffleToggle"
				       ng-model="app.player.Shuffle"
				       ng-change="buttonShuffle()">
			</div>
		</div>

		<div>
			<label>Repeat</label>
			<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn"
				        ng-model="app.player.LoopStatus"
				        btn-radio="'None'"
				        ng-click="buttonLoopStatus('None')">
					<span>No repeat</span>
				</button>
				<button class="btn"
				        ng-model="app.player.LoopStatus"
				        btn-radio="'Track'"
				        ng-hide="app._bus=='org.mpris.MediaPlayer2.rhythmbox'"
				        ng-click="buttonLoopStatus('Track')">
					<span>Repeat track</span>
				</button>
				<button class="btn"
				        ng-model="app.player.LoopStatus"
				        btn-radio="'Playlist'"
				        ng-click="buttonLoopStatus('Playlist')">
					<span>Repeat playlist</span>
				</button>
			</div>
		</div>

		<button class="btn"
		        ng-show="application.CanSetFullscreen"
		        ng-click="buttonFullscreen()"
		        ng-model="application.Fullscreen"
		        btn-checkbox>
			<i class="fa fa-fullscreen"></i>
			<span>Fullscreen</span>
		</button>

		<button class="btn"
		        ng-show="application.CanRaise"
		        ng-click="buttonRaise()">
			<i class="fa fa-eye"></i>
			<span>Raise</span>
		</button>

		<button class="btn"
		        ng-show="application.CanQuit"
		        ng-click="buttonQuit()">
			<i class="fa fa-power-off"></i>
			<span>Quit</span>
		</button>
	</div>
</div>

<div class="page" id="playlists">
	<div class="head">
		<button class="btn btnBack"
		        ng-click="buttonBack()">
			<i class="fa fa-chevron-left"></i>
			<span>Player</span>
		</button>
		<h1>Playlists</h1>
	</div>

	<div class="body">
		<ul>
			<li ng-repeat="playlist in playlists"
			    ng-click="handleAppClick(playlist)">
				<a>{{playlist}}</a>
			</li>
		</ul>
	</div>
</div>

<div class="page" id="tracklist">
	<div class="head">
		<button class="btn btnBack"
		        ng-click="buttonBack()">
			<i class="fa fa-chevron-left"></i>
			<span>Player</span>
		</button>
		<h1>Tracklist</h1>
	</div>

	<div class="body">
		<ul>
			<li><a>Test</a></li>
			<li><a>Test</a></li>
		</ul>
	</div>
</div>