<!DOCTYPE html>
<html lang="en" ng-app="mprisApp">
	<head>
		<title>Web Remote</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=false">

		<!-- AngularJS -->
		<script src="/static/libs/angularjs/1.2.3/angular.min.js" type="text/javascript"></script>
		<script src="/static/libs/angularjs/1.2.3/angular-route.min.js" type="text/javascript"></script>
		<script src="/static/libs/angularjs/1.2.3/angular-touch.min.js" type="text/javascript"></script>

		<!-- AngularJS UI -->
		<script src="/static/libs/angularjs-ui/0.7.0/ui-bootstrap-0.7.0.min.js" type="text/javascript"></script>
		<script src="/static/libs/angularjs-ui/0.7.0/ui-bootstrap-tpls-0.7.0.min.js" type="text/javascript"></script>

		<!-- MPRIS application files -->
		<script src="/static/app.js" type="text/javascript"></script>
		<script src="/static/controllers.js" type="text/javascript"></script>
		<script src="/static/services.js" type="text/javascript"></script>
		<script src="/static/directives.js" type="text/javascript"></script>

		<!-- Stylesheets -->
		<!--<link rel="stylesheet" href="/static/libs/bootstrap/2.3.2/css/bootstrap.min.css">-->
		<link rel="stylesheet" href="/static/libs/font-awesome-4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/themes/coloured/theme.css">
	</head>
	<body>
		<div id="viewport">
			<div ng-view></div>
		</div>

		<script type="text/ng-template" id="applist.html">
			<div id="apps" ng-controller="AppListCtrl">
				<div class="head">
					<h1>Applications</h1>
				</div>

				<div class="body">
					<ul>
						<li ng-repeat="app in applications">
							<a href="/{{app.name}}/player/">
								{{ app.Identity}}
								<i class="fa fa-chevron-right pull-right"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="player.html">
			<div id="player" ng-controller="PlayerCtrl">
				<div class="head">
					<button class="btn btnBack"
					        ng-click="buttonBack()">
						<i class="fa fa-chevron-left"></i>
						<span>Applications</span>
					</button>
					<h1>{{ application.Identity }}</h1>
					<button class="btn btnSettings pull-right"
					        ng-click="buttonSettings()">
						<i class="fa fa-cog"></i>
						<span>Settings</span>
					</button>
				</div>

				<div class="body">
					<div class="metadata">
						<div class="art">
							<img ng-show="player.data.Metadata['mpris:artUrl']"
							     ng-src="{{player.data.Metadata['mpris:artUrl']}}">
							<img ng-hide="player.data.Metadata['mpris:artUrl']"
							     src="/static/themes/dark/images/play.svg">
						</div>

						<div class="title">
							{{player.data.Metadata['xesam:title']}}
						</div>

						<div class="album">
							{{ player.data.Metadata['xesam:album'] }}
						</div>

						<div class="artist">
							<span ng-repeat="artist in player.data.Metadata['xesam:artist']">
								{{artist}}
							</span>
						</div>
					</div>

					<div class="progress-info">
						<div class="progress-text">{{ positionAsText() }}</div>
						<div class="progress">
							<div class="bar" ng-style="{ width: positionAsPercentage() + '%' }"></div>
						</div>
						<div class="progress-length">
							{{ trackLength() }}
						</div>
					</div>

					<div class="btn-toolbar" id="playcontrols">
						<div class="btn-group">
							<button class="btn btnPrev"
							        ng-show="player.data.CanGoPrevious"
							        ng-click="buttonPrevious()">
								<i class="fa fa-fast-backward"></i>
								<span>Previous</span>
							</button>
							<button class="btn btnPlay"
							        ng-click="buttonPlay()"
							        ng-show="player.data.CanPlay && !player.isPlaying()">
								<i class="fa fa-play"></i>
								<span>Play</span>
							</button>
							<button class="btn btnPause"
							        ng-click="buttonPause()"
							        ng-show="player.data.CanPause && player.isPlaying()">
								<i class="fa fa-pause"></i>
								<span>Pause</span>
							</button>
							<button class="btn btnNext"
							        ng-show="player.data.CanGoNext"
							        ng-click="buttonNext()">
								<i class="fa fa-fast-forward"></i>
								<span>Next</span>
							</button>
						</div>

						<button class="btn btnTracklist"
						        ng-click="buttonTracklist()">
							<i class="fa fa-list"></i>
							<span>Tracklist</span>
						</button>

						<button class="btn btnPlaylists"
						        ng-click="buttonPlaylists()">
							<i class="fa fa-list-alt"></i>
							<span>Playlists</span>
						</button>
					</div>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="settings.html">
			<div id="player" ng-controller="SettingsCtrl">
				<div class="head">
					<button class="btn btnBack"
					        ng-click="buttonBack()">
						<i class="fa fa-chevron-left"></i>
						<span>Player</span>
					</button>
					<h1>Settings</h1>
				</div>

				<div class="body">
					<div class="control-group">
						<label class="control-label" for="shuffleToggle">
							Shuffle
						</label>

						<div class="controls">
							<input type="checkbox"
							       id="shuffleToggle"
							       ng-model="player.data.Shuffle"
							       ng-change="buttonShuffle()">
						</div>
					</div>

					<div>
						<label>Repeat</label>
						<div class="btn-group" data-toggle="buttons-radio">
							<button class="btn"
							        ng-model="player.data.LoopStatus"
							        btn-radio="'None'"
							        ng-click="buttonLoopStatus('None')">
								No repeat
							</button>
							<button class="btn"
							        ng-model="player.data.LoopStatus"
							        btn-radio="'Track'"
							        ng-hide="application.bus == 'org.mpris.MediaPlayer2.rhythmbox'"
							        ng-click="buttonLoopStatus('Track')">
								Repeat track
							</button>
							<button class="btn"
							        ng-model="player.data.LoopStatus"
							        btn-radio="'Playlist'"
							        ng-click="buttonLoopStatus('Playlist')">
								Repeat playlist
							</button>
						</div>
					</div>

					<button class="btn"
					        ng-show="application.CanSetFullscreen"
					        ng-click="buttonFullscreen()"
					        ng-model="application.Fullscreen"
					        btn-checkbox>
						<i class="fa fa-fullscreen"></i>
						Fullscreen
					</button>

					<button class="btn"
					        ng-show="application.CanRaise"
					        ng-click="buttonRaise()">
						<i class="fa fa-eye"></i>
						Raise
					</button>

					<button class="btn"
					        ng-show="application.CanQuit"
					        ng-click="buttonQuit()">
						<i class="fa fa-power-off"></i>
						Quit
					</button>
					</form>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="settings_repeat.html">
			<div id="player" ng-controller="SettingsRepeatCtrl">
			</div>
		</script>

		<script type="text/ng-template" id="playlists.html">
			<div id="playlists" ng-controller="PlaylistsCtrl">
				<div class="head">
					<button class="btn btnBack"
					        ng-click="buttonBack()">
						<i class="fa fa-chevron-left"></i>
						<span>Player</span>
					</button>
					<h1>Playlists</h1>
				</div>

				<div class="body">
					<ul>
						<li ng-repeat="playlist in playlists"
						    ng-click="handleAppClick(playlist)">
							<a>{{playlist}}</a>
						</li>
					</ul>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="tracklist.html">
			<div id="tracklist" ng-controller="TracklistCtrl">
				<div class="head">
					<button class="btn btnBack"
					        ng-click="buttonBack()">
						<i class="fa fa-chevron-left"></i>
						<span>Player</span>
					</button>
					<h1>Tracklist</h1>
				</div>

				<div class="body">
					<ul>
						<li><a>Test</a></li>
						<li><a>Test</a></li>
					</ul>
				</div>
			</div>
		</script>
	</body>
</html>
