<!doctype html>
<title>{{ data.attributes.Identity }}</title>

<h1>Attributes</h1>
<dl>
	{% for a, v in data.attributes.items() %}
	<dt>{{ a }}</dt>
		{% if v is mapping %}
		<dd>
			<dl>
				{% for ma, mv in v.items() %}
				<dt>{{ ma }}</dt>
				{% if mv is not string and mv is iterable %}
					{% for mvi in mv %}
					<dd>{{ mvi }}</dd>
					{% endfor %}
				{% else %}
					<dd>{{ mv }}</dd>
				{% endif %}
				{% endfor %}
			</dl>
		</dd>
		{% elif v is not string and v is iterable %}
			{% for iv in v %}
			<dd>{{ iv }}</dd>
			{% endfor %}
		{% else %}
		<dd>{{ v }}</dd>
		{% endif %}
	{% endfor %}
</dl>

<h1>Links</h1>
<ul>
	{% for rel, url in links.items() %}
	<li><a href="{{ url }}">{{ rel }}</a></li>
	{% endfor %}
</ul>
