$def with (identity)
$var title: $identity
$var scripts: /static/js/player.js /static/js/remote.js /static/js/remoteui.js

		<div id="art">
			<img src="">
		</div>

		<div id="track">
			<dl>
				<dt>Title</dt>
				<dd id="track_title"></dd>
				<dt>Artist</dt>
				<dd id="track_artist"></dd>
				<dt>Album</dt>
				<dd id="track_album"></dd>
			</dl>
		</div>

		<div id="controls">
			<div id="options">
				<div id="shuffle">
					<span class="icon"></span>
					<label for="shufflestatus">Shuffle</label>
					<input id="shufflestatus" name="shuffle" type="checkbox">
				</div>

				<div id="loop">
					<span class="icon"></span>
					<label for="loopstatus">Loop</label>
					<select id="loopstatus" name="loopstatus">
						<option value="None">None</option>
						<option value="Playlist">Playlist</option>
						<option value="Track">Track</option>
					</select>
				</div>
			</div>
			<div id="playback">
				<button id="previous"><span class="ui-button-text">Previous</span></button>
				<button id="play"><span class="ui-button-text">Play</span></button>
				<button id="next"><span class="ui-button-text">Next</span></button>
			</div>

			<div id="progress-bar">
				<div class="ui-slider">
					<div class="ui-slider-range"></div>
				</div>
			</div>
		</div>
